@charset "UTF-8";

body {
    background-color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;}

h2 {
    text-align: center;
    font-size: 40px;
    background-color:green;
    color:yellow}

h3{
    text-align: center;
    font-size: 30;
    background-color:darkgreen;
    color:yellow}

h4{
font-size: 25;
color:green}

p{
    font-size: 20px;}

p#valores{
    font-weight: bold;
    color:crimson;
    font-size: 17px;}

nav{
    font-size: 20px;}